

.menu{
	background-color: rgba(255,255,255,0.8);
	border: 7px solid rgba(255,255,255,0.0001);
}

.menu a{
	margin-left:50px;
	margin-bottom: 15%;
	text-decoration: none;
	color:black;
	font-weight: bold;
}

.registration{
	text-align: right;
	margin-right: 30px;	
}

.kursiv{
	font-style: italic;
}

.spisok{
	text-align: left;
}

li{
	margin-bottom: 25px;
}

#zhirniy{
	font-size: 23px;
}

#zz{
	font-size: 26px;
}

body{
	margin:0px;
    background-size: cover; 
	background-image: url(images//bg/bg.jpeg);
	background-repeat: no-repeat; 
    background-attachment: fixed;
   /*background-position: top;*/
   /*background-size: cover;*/
   -o-background-size:cover;
   /*-webkit-background-size:cover;*/
   text-align: center;
}

.q{
	margin-left: 3.7%;
}

.gruz{
	font-size:25px;
	color:black;

}
.usl {
	color: white;
	text-align:center;
  /* 	margin-left: 3%;
 	margin-right: 3%;*/
	border: 15px solid rgba(99,83,93,0.001);
	background-color: rgba(99,83,93,0.7);
}

.images { 
	width: 90%;
}

.since{
	color:#DE5145;
}
ul {
	margin-bottom: 1.5em;
}

.cont{
	
	text-align: center;
	width: 400px;
	height: 320px;
	/*float: left;*/
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -160px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);

}


.page{
	text-align: center;
	width: 500px;
	height: 360px;
	float: left;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -160px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);
}

.field{
	text-align: right;
	clear: both;
	line-height: 25px;
}

label, span{
	float: left;
	padding-right: 10px;
}

input{
	width: 178px;
}

button{
	margin-top: 10px;
}

.sign{
	text-align: center;
	width: 500px;
	height: 190px;
	float: left;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -95px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);
}

.but a{
	/*text-decoration: none;*/
	color: white;
}
.req{
	text-align: center;
	width: 500px;
	height: 260px;
	float: left;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -150px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);
}
.avto{
	color:white;
}
.qwer{
	margin-left:9%;
	margin-right: 55%;
}