td{
	padding-top:0%;
	padding-left:5%;
	padding-right:5%;  
}
 
.menu{
	border: 1px solid rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.3);
}

.menu a{
	margin-left:50px;
	text-decoration: none;
	color:white;
}

.registration{
	text-align: right;
	margin-right: 30px;	
}

body{

        background-size: cover; 
	background-image: url(images//bg/bg.jpeg);
         background-repeat: no-repeat; 
   background-attachment: fixed;
   background-position: top;
   background-size: cover;
   -o-background-size:cover;
   -webkit-background-size:cover;
   text-align: center;
   background-color: rgba(99,83,93,0.85);

}


.gruz{
	font-size:25px;
	color:black;

}
.usl {
	color: white;
	text-align:center;
   	margin-left: 13%;
 	margin-right: 13%;
	border: 15px solid rgba(99,83,93,0.4);
	background-color: rgba(99,83,93,0.4);
}

.images { 
	width: 90%;
}

.since{
	color:#DE5145;
}
ul {
	margin-bottom: 1.5em;
}

.cont{
	
	text-align: center;
	width: 400px;
	height: 320px;
	/*float: left;*/
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -160px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);

}
.page{
	text-align: center;
	width: 500px;
	height: 360px;
	float: left;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -160px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);
}

.field{
	text-align: right;
	clear: both;
	line-height: 25px;
}

label, span{
	float: left;
	padding-right: 10px;
}

input{
	width: 178px;
}

button{
	margin-top: 10px;
}

.sign{
	text-align: center;
	width: 500px;
	height: 190px;
	float: left;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -95px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);
}

.but a{
	/*text-decoration: none;*/
	color: white;
}
.req{
	text-align: center;
	width: 500px;
	height: 260px;
	float: left;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -250px;
	margin-top: -150px;
	border: 15px solid rgba(99,83,93,0.7);
	background-color: rgba(99,83,93,0.85);
}
.avto{
	color:white;
}
.qwer{
	margin-left:9%;
	margin-right: 55%;
}